<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add a Sunscreen</title>
</head>
<body>
{{range .Msgs}}
	<i>{{.}}</i><br>
{{end}}
<h1>Add Sunscreen</h1>
	<form method="POST">
		{{define "addSunscreen"}}
			<table>
				<tr>
					<td><label for="Name">Sunscreen Name</label></td>
					<td><input type="text" name="Name" value="{{.Name}}" required></td>
				</tr>
				<tr>
					<td><label for="AutoTime">Use Sunrise/Sunset?</label></td>
					<td><input type="checkbox" name="AutoTime" value=true {{if eq .AutoTime true}} checked {{end}}></td>		
				</tr>
				<tr>
					<td><label for="SunStart">Minutes after Sunrise</label></td>
					<td><input type="number" name="SunStart" value="{{fminutes .SunStart}}" required></td>
				</tr>
				<tr>
					<td><label for="SunStop">Minutes before SunStop</label></td>
					<td><input type="number" name="SunStop" value="{{fminutes .SunStop}}" required></td>
				</tr>
				<tr>
					<td><label for="Start">Start time (hh:mm)</label></td>
					<td><input type="time" name="Start" value="{{fdateHM .Start}}" required></td>
				</tr>
				<tr>
					<td><label for="Stop">Stop time (hh:mm)</label></td>
					<td><input type="time" name="Stop" value="{{fdateHM .Stop}}" required></td>
				</tr>
				<tr>
					<td><label for="StopThreshold">Stop Threshold (in minutes)</label></td>
					<td><input type="number" name="StopThreshold" value="{{fminutes .StopThreshold}}" required></td>
				</tr>
				<tr>
					<td><label for="DurDown">Seconds down</label></td>
					<td><input type="number" name="DurDown" value="{{fseconds .DurDown}}" required></td>
				</tr>
				<tr>
					<td><label for="DurUp">Seconds up</label></td>
					<td><input type="number" name="DurUp" value="{{fseconds .DurUp}}" required></td>
				</tr>
				<tr>
					<td><label for="PinDown">Pin for down</label></td>
					<td><input type="number" name="PinDown" value="{{.PinDown}}" required></td>
				</tr>
				<tr>
					<td><label for="PinUp">Pin for up</label></td>
					<td><input type="number" name="PinUp" value="{{.PinUp}}" required></td>
				</tr>
			</table>
			<br>
			<input type="submit" value="Save Sunscreen {{.Name}}">
		{{end}}
		{{template "addSunscreen" .}}
	</form>
</body>
</html>