<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sunscreen configuration</title>
</head>
<body>
{{range .Msgs}}
	<i>{{.}}</i><br>
{{end}}
<h1>Configuration</h1>

<p><a href="/">Click here to go back to home</a></p>
<p><a href="/config/add">Click here to go set-up a sunscreen</a></p>

<form method="POST">
<h2>Sunscreen</h2>
	<table>
		<tr>
			<td><label for="Name">Sunscreen Name</label></td>
			<td><input type="text" name="Name" value="{{.Name}}" required></td>
		</tr>			
		<tr>
			<td><label for="SunStart">Minutes after Sunrise</label></td>
			<td><input type="number" name="SunStart" value="{{fminutes .SunStart}}" required></td>
			<td><input type="checkbox" name="AutoStart" value=true {{if eq .AutoStart true}} checked {{end}}></td>		
			<td><label for="AutoStart"><i>Check this box if you want to have start time based on Sunrise</i></label></td>
		</tr>
		<tr>
			<td><label for="SunStop">Minutes before Sunset</label></td>
			<td><input type="number" name="SunStop" value="{{fminutes .SunStop}}" required></td>
			<td><input type="checkbox" name="AutoStop" value=true {{if eq .AutoStop true}} checked {{end}}></td>
			<td><label for="AutoStop"><i>Check this box if you want to have start time based on Sunset</i></label></td>
		</tr>
		<tr>
			<td><label for="Start">Start time (hh:mm)</label></td>
			<td><input type="time" name="Start" value="{{fdateHM .Start}}" required></td>
		</tr>
		<tr>
			<td><label for="Stop">Stop time (hh:mm)</label></td>
			<td><input type="time" name="Stop" value="{{fdateHM .Stop}}" required></td>
		</tr>
		<tr>
			<td><label for="StopThreshold">Stop Threshold (in minutes)</label></td>
			<td><input type="number" name="StopThreshold" value="{{fminutes .StopThreshold}}" required></td>
		</tr>
		<tr>
			<td><label for="DurDown">Seconds down</label></td>
			<td><input type="number" name="DurDown" value="{{fseconds .DurDown}}" required></td>
		</tr>
		<tr>
			<td><label for="DurUp">Seconds up</label></td>
			<td><input type="number" name="DurUp" value="{{fseconds .DurUp}}" required></td>
		</tr>
		<tr>
			<td><label for="PinDown">Pin for down</label></td>
			<td><input type="number" name="PinDown" value="{{.PinDown}}" required></td>
		</tr>
		<tr>
			<td><label for="PinUp">Pin for up</label></td>
			<td><input type="number" name="PinUp" value="{{.PinUp}}" required></td>
		</tr>
	</table>
<h2>Light sensor</h2>
	<table>
		<tr>
			<td><label for="LightPin">Pin for up</label></td>
			<td><input type="number" name="LightPin" value="{{.LightSensor.Pin}}" required></td>
		</tr>
		<tr>
			<td><label for="Outliers">Allowed Outliers (Number of times)</label></td>
			<td><input type="number" name="Outliers" value="{{.LightSensor.Outliers}}" required></td>
		</tr>
    		<tr>
			<td><label for="Interval">Interval in seconds</label></td>
			<td><input type="number" name="Interval" value="{{fseconds .LightSensor.Interval}}" required></td>
		</tr>
		<tr>
			<td><label for="LightFactor">Analog value correction</label></td>
			<td><input type="number" name="LightFactor" value="{{.LightSensor.LightFactor}}" required></td>
		</tr>
		<tr>
        <td></td><td>Good</td><td>Neutral</td><td>Bad</td>
      	</tr>
      	<tr>
      		<td>Value</td>
        	<td><input type="number" name="Good" value="{{.LightSensor.Good}}" required></td>
        	<td><input type="number" name="Neutral" value="{{.LightSensor.Neutral}}" required></td>
        	<td><input type="number" name="Bad" value="{{.LightSensor.Bad}}" required></td>
      	</tr> 
		<tr></tr>
     	<tr>
	        <td>Times</td>
	        <td><input type="number" name="TimesGood" value="{{.LightSensor.TimesGood}}" required></td>
	        <td><input type="number" name="TimesNeutral" value="{{.LightSensor.TimesNeutral}}" required></td>
	        <td><input type="number" name="TimesBad" value="{{.LightSensor.TimesBad}}" required></td>
		</tr>
	</table>
	<h2>Settings</h2>
	<table>
		<tr>
			<td><b>Advanced</b></td>
			<td><label for="RefreshRate">Website refresh rate (in minutes)</label></td>
			<td><input type="number" name="RefreshRate" value="{{fminutes .Config.RefreshRate}}" required></td>
		</tr>
		<tr>
			<td></td>
			<td><label for="MoveHistory">Number of historical Movements</label></td>
			<td><input type="number" name="MoveHistory" value="{{.Config.MoveHistory}}" required></td>
		</tr>
		<tr>
			<td></td>
			<td><label for="LogRecords">Number Log records shown</label></td>
			<td><input type="number" name="LogRecords" value="{{.Config.LogRecords}}" required></td>
		</tr>
		<tr>
			<td></td>
			<td><label for="IpWhitelist">Whitelisted IPs (comma separated)</label></td>
			<td><input type="text" name="IpWhitelist" value="{{fsliceString .Config.IpWhitelist}}"></td>
		</tr>
		<tr>
			<td></td>
			<td><label for="Port">Port (range: 1000-9999; requires reboot)</label></td>
			<td><input type="text" name="Port" value="{{.Config.Port}}"></td>
		</tr>
		<tr>
			<td></td>
			<td><label for="Cert">Cert location</label></td>
			<td><input type="text" name="Cert" value="{{.Config.Cert}}"></td>
		</tr>
		<tr>
			<td></td>
			<td><label for="Key">Key location</label></td>
			<td><input type="text" name="Key" value="{{.Config.Key}}"></td>
		</tr>
		<tr>
			<td><b>E-mail</b></td>
			<td><label for="EnableMail">EnableMail</label></td>
			<td><input type="checkbox" name="EnableMail" value=true {{if eq .Config.EnableMail true}} checked {{end}}></td>		
		</tr>
		<tr>
			<td></td>
			<td><label for="MailFrom">E-mail Address</label></td>
			<td><input type="email" name="MailFrom" value={{.Config.MailFrom}}></td>
		</tr>
		<tr>
			<td></td>
			<td><label for="MailUser">E-mail Username</label></td>
			<td><input type="text" name="MailUser" value={{.Config.MailUser}}></td>
		</tr>
		<tr>
			<td></td>
			<td><label for="MailPass">E-mail Password</label></td>
			<td><input type="password" name="MailPass"></td>
		</tr>
		<tr>
			<td></td>
			<td><label for="MailHost">E-mail host</label></td>
			<td><input type="text" name="MailHost" value={{.Config.MailHost}}></td>
		</tr>
		<tr>
			<td></td>
			<td><label for="MailPort">E-mail host port</label></td>
			<td><input type="number" name="MailPort" value={{.Config.MailPort}}></td>
		</tr>
		<tr>
			<td></td>
			<td><label for="MailTo">E-mail recipients (comma separated)</label></td>
			<td><input type="text" name="MailTo" value={{fsliceString .Config.MailTo}}></td>
		</tr>
		<tr>
			<td><b>Login</b></td>
			<td><label for="Username">Username</label></td>
			<td><input type="text" name="Username" value="{{.Config.Username}}" required></td>
		</tr>		
		<tr>
			<td></td>
			<td><label for="CurrentPassword">Current Password</label></td>
			<td><input type="password" name="CurrentPassword"></td>
		</tr>		
		<tr>
			<td></td>
			<td><label for="Password">Password</label></td>
			<td><input type="password" name="Password"></td>
		</tr>	
		<tr>
			<td><b>Location</b></td>
			<td><label for="Latitude">Latitude</label></td>
			<td><input type="number" name="Latitude" step=any value="{{.Config.Location.Latitude}}"></td>
		</tr>
		<tr>
			<td></td>
			<td><label for="Longitude">Longitude</label></td>
			<td><input type="number" name="Longitude" step=any value="{{.Config.Location.Longitude}}"></td>
		</tr>
		<tr>
			<td></td>
			<td><label for="UtcOffset">UtcOffset</label></td>
			<td><input type="number" name="UtcOffset" value="{{.Config.Location.UtcOffset}}"></td>
		</tr>			
	</table>
	<br>
	<input type="submit" value="Save"><br>
</form>

<p><a href="/">Click here to go back to home</a></p>

</body>
</html>
