<!DOCTYPE html><html lang="en"><style>table, th, td {  border: 1px solid black;}</style><head>    <meta charset="UTF-8">    <title>Sunscreen variables</title></head><body><h1>Update Variables</h1><form method="POST">	<table>	<tr>		<td><label for="Sunrise">Sunrise</label></td>		<td><input type="text" name="Sunrise" value="{{.Sunrise}}"></td>	</tr>	<tr>			<td><label for="Sunset">Sunset</label></td>		<td><input type="text" name="Sunset" value="{{.Sunset}}"></td>	</table>		<input type="submit" value="Submit"></form><p><a href="/">Click here to go back to home</a></p></body></html>