<!DOCTYPE html><html lang="en"><head>    <meta charset="UTF-8">    <title>Sunscreen Logging</title></head><body><h1>Logfile</h1><p><a href="/">Click here to go back to home</a></p><p><b>Filename: </b>{{.FileName}}</p>{{range .LogOutput}}{{.}}<br>{{end}}</body></html>